  <div class="contents row">
  <div class="content_post" style="background-image: url(<%= @tweet.image %>);">
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <% if user_signed_in? && current_user.id == @tweet.user_id %>
        <li>
        <%= link_to '編集', "tweets/#{@tweet.id}/edit", method: :get %>
        </li>
        <li>
        <%= link_to '削除', "tweets/#{@tweet.id}", method: :delete %>
        </li>
        <% end %>
      </div>
        <%= simple_format(@tweet.text) %>
      <span class="name">
        <a href="/users/<%= @tweet.user_id %>">
          <span>投稿者</span><%= @tweet.user.nickname %>
        </a>
      </span>
    </div>

    <%= form_tag("/tweets/#{@tweet.id}/comments", method: :post) do %>
      <h3>
        コメントする
      </h3>
      <textarea cols="30" name="text" placeholder="text" rows="10"></textarea>
      <input type="submit" value="SENT">
    <% end %>
</div>